$primary-color: #D62727;
$text-color: #4A4A4A;
$link-color: #19579F;

%primary-color {
  color: $primary-color;
}

body {
  background-color: white;
  color: $text-color;
}

.welcome {
  max-width: 940px;
  margin: 0 auto;

  blockquote {
    padding: 36px;

    p {
      font-size: 20px;
    }

    footer {
      text-align: right;
    }

    a {
      font-size: 20px;
      color: $link-color;
    }
  }
}

.welcome_hero {
  padding: 36px;
  text-align: center;

  h1 {
    margin: 40px;
    font-size: 16px;
    @extend %primary-color;
  }
}

.social-links {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 30px;
  }

  a {
    color: $text-color;
  }
}

.welcome_features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome_feature {
  width: 300px;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    @extend %primary-color;
  }
}

.welcome_package {
  font-size: 48px;

  sub {
    @extend %primary-color;
    font-size: 36px;
  }
}
